.div-container {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 40;
  box-shadow: 8px 5px 16px 5px rgba(0, 0, 0, 0.35);
  min-width: 100%;
  min-height: 100px;
  a {
    margin-bottom: 30px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    color: gray;
    border-bottom: 3px solid rgb(241, 236, 236);
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  a.active {
    padding: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    border-bottom: 3px solid red;
  }
}
