@import "~bootstrap/scss/bootstrap";

body {
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Saira Condensed', sans-serif;
}

code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
  font-family: 'Saira Condensed', sans-serif;
}
html::-webkit-scrollbar{
  display: none
}
/* For Firefox - remove the scrollbar  */
html{
  scrollbar-width: none
}
